{% extends 'base.html' %}
{% load static %}
<!-- 사이드바 들어갈곳 -->
{% block sidebar %}
    <div class="sidebar" data-color="purple" data-image="{% static "img/sidebar-5.jpg" %}">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="/content/dashboard" class="simple-text">
                    <img src="{% static 'img/emotion.png' %}" style="width: 60px; height:60px;"/>
                    <i>WITH</i>
                </a>
            </div>

            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/content/dashboard">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/content/user">
                        <i class="pe-7s-user"></i>
                        <p>User Profile</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/content/table">
                        <i class="pe-7s-note2"></i>
                        <p>Table List</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/content/notifications">
                        <i class="pe-7s-bell"></i>
                        <p>Notifications</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
<!-- 위쪽 네비바 들어갈곳 -->
{% block navbar %}
    <nav class="navbar navbar-expand-lg " color-on-scroll="500">
        <div class="container-fluid">
            <a class="navbar-brand" href="#pablo"> 로그인 </a>
            <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar burger-lines"></span>
                <span class="navbar-toggler-bar burger-lines"></span>
                <span class="navbar-toggler-bar burger-lines"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link" data-toggle="dropdown">
                            <i class="nc-icon nc-palette"></i>
                            <span class="d-lg-none">Dashboard</span>
                        </a>
                    </li>
                    <li class="dropdown nav-item">
                        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                            <i class="nc-icon nc-planet"></i>
                            <span class="notification">5</span>
                            <span class="d-lg-none">Notification</span>
                        </a>
                        <ul class="dropdown-menu">
                            <a class="dropdown-item" href="#">Notification 1</a>
                            <a class="dropdown-item" href="#">Notification 2</a>
                            <a class="dropdown-item" href="#">Notification 3</a>
                            <a class="dropdown-item" href="#">Notification 4</a>
                            <a class="dropdown-item" href="#">Another notification</a>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nc-icon nc-zoom-split"></i>
                            <span class="d-lg-block">&nbsp;Search</span>
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/account/login">
                            <span class="no-icon">Account</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="no-icon">Dropdown</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pablo">
                            <span class="no-icon">Log out</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
<!-- 컨텐츠 들어갈곳 -->
{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div id="base_area" style="display: block;">
    <div id="page_area" style="display: flex; flex-direction: column; align-items: center;">
        <div style="padding: 20px; text-align: center; border: solid 1px rgba(219, 219, 219, 1); width: 300px; height: 185px; margin-top: 30px; background-color: white">
            <div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" style="font-size: 14px; height: 24px" id="input_id"
                           placeholder="name@example.com">
                    <label for="input_id" style="font-size: 14px; padding: 4px 10px">아이디</label>
                </div>
            </div>
            <div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" style="font-size: 14px; height: 24px"
                           id="input_password"
                           placeholder="name@example.com">
                    <label for="input_password" style="font-size: 14px; padding: 4px 10px">패스워드</label>
                </div>
            </div>
            <button id="login_button" class="btn btn-primary" style="width: 100%">로그인</button>
        </div>
        <div style="padding: 20px; text-align: center; border: solid 1px rgba(219, 219, 219, 1); width: 300px; height: 70px; margin-top: 30px; background-color: white">
            <div> 계정이 없으신가요? <a style="text-decoration-line: none" href="/account/join">가입하기</a></div>
        </div>
    </div>
</div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
<script>
    $('#login_button').click(function () {

        let id = $('#input_id').val();
        let password = $('#input_password').val();

        console.log(id, password);

        $.ajax({
            url: "/account/login/",
            data: {
                id: id,
                password: password,
            },
            method: "POST",
            success: function (data) {
                console.log("성공");
                alert("로그인 성공");
                location.replace('/');
            },
            error: function (request, status, error) {
                console.log("에러");
            },
            complete: function () {
                console.log("완료");
            }
        });
    });
</script>
{% endblock %}
